h3
{
  font-size: 2.5em;
  color:blueviolet;
  background-color: coral
}

section#product h2
{   font-size: 4.0em;
    color:aquamarine;
    background-color:green
}
 
a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    ;
    font-size: 2.0em;
    color: azure;background-color: brown;
}




